/* color variables */
/* font variables */
.title-font {
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 8px;
  font-size: 45px;
  text-align: center; }

.subtitle-font, .nav-footer ul a li {
  font-family: 'Roboto', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px; }

.nav-footer ul {
  width: 100%;
  position: absolute;
  bottom: 20%;
  padding-left: 0 !important; }
  .nav-footer ul a:hover {
    text-decoration: none; }
  .nav-footer ul a:nth-child(1n+2)::before {
    content: '/';
    padding: 0 10px;
    color: black; }
  .nav-footer ul a li {
    display: inline-flex;
    font-size: 12px;
    color: black; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0; }

.float-right {
  float: right !important; }

.wrapper, #slides01 #work01-content .work-text, #slides02 #work02-content .work-text, #slides03 #work03-content .work-text {
  width: 90%;
  margin: 0 5%; }

#landingSlide {
  height: 100vh;
  display: flex;
  align-items: center; }
  #landingSlide .nav-footer {
    visibility: hidden; }
  #landingSlide #landing-svg {
    width: 100%; }

#aboutSlide .title-block {
  height: 50vh;
  display: flex;
  align-items: center; }

#aboutSlide .scrollmagic-pin-spacer {
  height: 0 !important;
  padding-top: 0 !important; }

#aboutSlide #about-header {
  background-color: #f7484e; }
  #aboutSlide #about-header .nav-footer {
    visibility: hidden; }
  #aboutSlide #about-header .title-font {
    color: white;
    margin-left: 5%; }
  #aboutSlide #about-header .about-img {
    background-image: url(/img/coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    position: absolute;
    left: 33%;
    top: 80%; }

#aboutSlide #about-content {
  margin-top: 10%;
  padding: 10% 15%; }

#slides01 {
  height: 110%; }
  #slides01 .title-block {
    height: 50vh;
    display: flex;
    align-items: center; }
  #slides01 .scrollmagic-pin-spacer {
    height: 0 !important;
    min-height: 0 !important;
    padding-top: 0 !important; }
  #slides01 #work01-header {
    background-color: #EDEDED; }
    #slides01 #work01-header .nav-footer {
      visibility: hidden; }
    #slides01 #work01-header .title-font {
      margin-left: 5%; }
  #slides01 #work01-content {
    margin-top: 50px; }
    #slides01 #work01-content .img {
      background-image: url(../../img/macbook-comp.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: calc(90%);
      height: 250px;
      margin: 0 auto; }
    #slides01 #work01-content .work-nav {
      margin-left: 5%;
      margin-top: 15%; }
      #slides01 #work01-content .work-nav a {
        font-family: 'Roboto', sans-serif !important;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        border: thin solid #E2D6DB;
        padding: 8px;
        background-color: #E2D6DB;
        border-radius: 4px;
        color: black;
        margin-right: 5px; }
        #slides01 #work01-content .work-nav a:hover {
          text-decoration: none; }

#slides02 .title-block {
  visibility: hidden; }

#slides02 .scrollmagic-pin-spacer {
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 40% !important; }

#slides02 #work02-content .img {
  background-image: url(../../img/riddikulus-comp.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(90%);
  height: 250px;
  margin: 0 auto; }

#slides02 #work02-content .work-nav {
  margin-left: 5%;
  margin-top: 15%; }
  #slides02 #work02-content .work-nav a {
    font-family: 'Roboto', sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    border: thin solid #E2D6DB;
    padding: 8px;
    background-color: #E2D6DB;
    border-radius: 4px;
    color: black;
    margin-right: 5px; }
    #slides02 #work02-content .work-nav a:hover {
      text-decoration: none; }

#slides03 .title-block {
  visibility: hidden; }

#slides03 .scrollmagic-pin-spacer {
  margin-bottom: 40% !important;
  padding-bottom: 0 !important; }

#slides03 #work03-content .img {
  background-image: url(../../img/snakes-comp.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(90%);
  height: 250px;
  margin: 0 auto; }

#slides03 #work03-content .work-nav {
  margin-left: 5%;
  margin-top: 15%; }
  #slides03 #work03-content .work-nav a {
    font-family: 'Roboto', sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    border: thin solid #E2D6DB;
    padding: 8px;
    background-color: #E2D6DB;
    border-radius: 4px;
    color: black;
    margin-right: 5px; }
    #slides03 #work03-content .work-nav a:hover {
      text-decoration: none; }

#contactSlide .title-block {
  height: 50vh;
  display: flex;
  align-items: center; }

#contactSlide #contact-header {
  background-color: #f7484e; }
  #contactSlide #contact-header .nav-footer {
    visibility: hidden; }
  #contactSlide #contact-header .title-font {
    color: white;
    margin-left: 5%; }

#contactSlide #contact-text {
  margin-top: 10%;
  padding: 10% 15%; }
  #contactSlide #contact-text .social-buttons {
    display: flex;
    padding-left: 0 !important;
    margin-top: 5%; }
    #contactSlide #contact-text .social-buttons a:hover {
      text-decoration: none; }
    #contactSlide #contact-text .social-buttons a li {
      list-style-type: none;
      display: inline-flex;
      padding-right: 15px;
      color: black; }
      #contactSlide #contact-text .social-buttons a li i {
        font-size: 20px; }
  #contactSlide #contact-text #post1 {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    display: inline-flex;
    float: left;
    margin-right: 15px;
    background-size: cover;
    background-repeat: no-repeat; }
    #contactSlide #contact-text #post1 #blog-title {
      position: absolute;
      top: 0; }
  #contactSlide #contact-text #blog-title {
    font-style: italic; }
  #contactSlide #contact-text #blog-content {
    width: 42%; }
  #contactSlide #contact-text #read-more {
    position: absolute;
    bottom: 0;
    border: thin solid #E2D6DB;
    padding: 8px;
    background-color: #E2D6DB;
    border-radius: 4px;
    color: black;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px; }
    #contactSlide #contact-text #read-more:hover {
      text-decoration: none; }
