.nav-footer ul {
  width: 100%;
  position: absolute;
  bottom: 20%;
  padding-left: 0 !important; }
  .nav-footer ul a:hover {
    text-decoration: none; }
  .nav-footer ul a:nth-child(1n+2)::before {
    content: '/';
    padding: 0 10px;
    color: black; }
  .nav-footer ul a li {
    display: inline-flex;
    font-size: 12px;
    color: black; }

.subtitle-font, .nav-footer ul a li, #landingSlide ul a li, #aboutSlide #about-header ul a li, .slides .pin-wrappers #work01-header ul a li, .slides .pin-wrappers #work02-header ul a li, .slides .pin-wrappers #work03-header ul a li, #contactSlideOuter #contactSlide #contact-header ul a li {
  font-family: 'Roboto', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px; }

.title-font {
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 8px;
  font-size: 45px;
  text-align: center; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0; }

body {
  margin: 0;
  overflow-x: hidden; }

@media only screen and (min-width: 769px) {
  .wrapper {
    width: 90%;
    margin: 0 5%; } }

@media only screen and (min-width: 769px) {
  .fixed-header {
    position: fixed !important;
    padding: 0 !important;
    width: 50%; } }

#landingSlide {
  height: 100vh;
  display: flex;
  align-items: center; }
  #landingSlide .wrapper {
    text-align: center; }
    #landingSlide .wrapper #name {
      font-size: 55px;
      @incldue title-font; }
  #landingSlide #byline {
    @inlude subtitle-font;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px; }
  @media only screen and (max-width: 768px) {
    #landingSlide {
      display: flex;
      margin: 0; }
      #landingSlide .nav-footer {
        visibility: hidden; } }
  @media only screen and (min-width: 769px) {
    #landingSlide {
      margin-left: 50px; }
      #landingSlide ul {
        width: 100%;
        position: absolute;
        bottom: 20%;
        padding-left: 0 !important; }
        #landingSlide ul a:hover {
          text-decoration: none; }
        #landingSlide ul a:nth-child(1n+2)::before {
          content: '/';
          padding: 0 10px;
          color: black; }
        #landingSlide ul a li {
          display: inline-flex;
          font-size: 12px;
          color: black; }
      #landingSlide .nav-footer {
        display: flex;
        justify-content: center;
        bottom: 10%; } }

#aboutSlide {
  z-index: 20;
  margin: 0 !important; }
  #aboutSlide .title-block {
    font-family: 'Lato', sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 8px;
    font-size: 45px;
    text-align: center;
    background-color: #f7484e; }
    #aboutSlide .title-block .title-text {
      margin-top: 0;
      color: white;
      margin: 0; }
  #aboutSlide #about-content {
    height: auto; }
    #aboutSlide #about-content .content-padding {
      padding: 100px; }
  @media only screen and (max-width: 768px) {
    #aboutSlide .title-block {
      height: 50vh;
      display: flex;
      align-items: center; }
      #aboutSlide .title-block .nav-footer {
        visibility: hidden; } }
  @media only screen and (min-width: 769px) {
    #aboutSlide {
      z-index: 20;
      margin: 0 !important; }
      #aboutSlide .title-block {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center; }
        #aboutSlide .title-block .title-text {
          font-family: 'Lato', sans-serif !important;
          text-transform: uppercase;
          letter-spacing: 4px;
          word-spacing: 8px;
          font-size: 45px;
          text-align: center;
          color: white;
          margin: 0; }
      #aboutSlide #about-header {
        padding: 0;
        background-color: #f7484e; }
        #aboutSlide #about-header .about-img {
          background-image: url(/img/coffee.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          height: 125px;
          width: 125px;
          border-radius: 50%;
          position: absolute;
          top: 10%;
          left: 90%; }
        #aboutSlide #about-header ul {
          width: 100%;
          position: absolute;
          bottom: 20%;
          padding-left: 0 !important; }
          #aboutSlide #about-header ul a:hover {
            text-decoration: none; }
          #aboutSlide #about-header ul a:nth-child(1n+2)::before {
            content: '/';
            padding: 0 10px;
            color: black; }
          #aboutSlide #about-header ul a li {
            display: inline-flex;
            font-size: 12px;
            color: black; }
        #aboutSlide #about-header .nav-footer {
          display: flex;
          justify-content: center;
          bottom: 10%; }
      #aboutSlide #about-header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        padding: 0; }
      #aboutSlide #about-content {
        position: relative;
        z-index: 100;
        left: 50%; } }

@media only screen and (min-width: 769px) {
  .chapter-content {
    background-color: #EDEDED; } }

@media only screen and (min-width: 769px) {
  .chapter-title {
    background-color: white; } }

@media only screen and (min-width: 769px) {
  .scrollmagic-pin-spacer {
    pointer-events: none;
    position: absolute;
    clip: rect(auto, auto, auto, auto); } }

@media only screen and (min-width: 769px) {
  .row.slides {
    pointer-events: none; } }

@media only screen and (min-width: 769px) {
  .slides {
    position: relative;
    overflow: hidden;
    height: 100vh; }
    .slides .pin-wrappers {
      height: 100%;
      width: 100%;
      pointer-events: none; }
      .slides .pin-wrappers .title-block {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
      .slides .pin-wrappers #work01-header, .slides .pin-wrappers #work02-header, .slides .pin-wrappers #work03-header {
        padding: 0;
        background-color: white; }
        .slides .pin-wrappers #work01-header ul, .slides .pin-wrappers #work02-header ul, .slides .pin-wrappers #work03-header ul {
          width: 100%;
          position: absolute;
          bottom: 20%;
          padding-left: 0 !important; }
          .slides .pin-wrappers #work01-header ul a:hover, .slides .pin-wrappers #work02-header ul a:hover, .slides .pin-wrappers #work03-header ul a:hover {
            text-decoration: none; }
          .slides .pin-wrappers #work01-header ul a:nth-child(1n+2)::before, .slides .pin-wrappers #work02-header ul a:nth-child(1n+2)::before, .slides .pin-wrappers #work03-header ul a:nth-child(1n+2)::before {
            content: '/';
            padding: 0 10px;
            color: black; }
          .slides .pin-wrappers #work01-header ul a li, .slides .pin-wrappers #work02-header ul a li, .slides .pin-wrappers #work03-header ul a li {
            display: inline-flex;
            font-size: 12px;
            color: black; }
        .slides .pin-wrappers #work01-header .nav-footer, .slides .pin-wrappers #work02-header .nav-footer, .slides .pin-wrappers #work03-header .nav-footer {
          display: flex;
          justify-content: center;
          bottom: 10%; }
      .slides .pin-wrappers #work01-content, .slides .pin-wrappers #work02-content, .slides .pin-wrappers #work03-content {
        height: 100%; }
        .slides .pin-wrappers #work01-content .img, .slides .pin-wrappers #work02-content .img, .slides .pin-wrappers #work03-content .img {
          position: absolute;
          z-index: 1;
          background-image: url(../../img/macbook-comp.png);
          background-repeat: no-repeat;
          background-size: contain;
          height: 368px;
          width: 650px;
          top: 10%; }
        .slides .pin-wrappers #work01-content .work-text p, .slides .pin-wrappers #work02-content .work-text p, .slides .pin-wrappers #work03-content .work-text p {
          width: 90%; }
        .slides .pin-wrappers #work01-content .work-nav, .slides .pin-wrappers #work02-content .work-nav, .slides .pin-wrappers #work03-content .work-nav {
          pointer-events: all;
          position: absolute;
          bottom: 11%;
          margin-left: 6%;
          z-index: 999;
          left: 35%; }
          .slides .pin-wrappers #work01-content .work-nav a, .slides .pin-wrappers #work02-content .work-nav a, .slides .pin-wrappers #work03-content .work-nav a {
            font-family: 'Roboto', sans-serif !important;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px;
            border: thin solid #E2D6DB;
            padding: 8px;
            background-color: #E2D6DB;
            border-radius: 4px;
            color: black;
            margin-right: 5px; }
            .slides .pin-wrappers #work01-content .work-nav a:hover, .slides .pin-wrappers #work02-content .work-nav a:hover, .slides .pin-wrappers #work03-content .work-nav a:hover {
              text-decoration: none; } }

#slides01 {
  z-index: 20;
  margin: 0 !important; }
  @media only screen and (max-width: 768px) {
    #slides01 #work01-header {
      background-color: #EDEDED; }
    #slides01 .title-block {
      height: 50vh;
      display: flex;
      align-items: center;
      background-color: #EDEDED;
      font-family: 'Lato', sans-serif !important;
      text-transform: uppercase;
      letter-spacing: 4px;
      word-spacing: 8px;
      font-size: 45px;
      text-align: center; }
      #slides01 .title-block .nav-footer {
        visibility: hidden; }
    #slides01 #work01-content {
      margin-top: 50px; }
      #slides01 #work01-content .img {
        height: 200px;
        width: 90%;
        background-image: url(../../img/macbook-comp.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto; }
      #slides01 #work01-content .work-text {
        padding: 0 25px; }
      #slides01 #work01-content .work-nav {
        margin-top: 40px;
        padding: 0 25px;
        text-align: center; }
        #slides01 #work01-content .work-nav a {
          font-family: 'Roboto', sans-serif !important;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 12px;
          border: thin solid #E2D6DB;
          padding: 8px;
          background-color: #E2D6DB;
          border-radius: 4px;
          color: black;
          margin-right: 5px; }
          #slides01 #work01-content .work-nav a:hover {
            text-decoration: none; } }

#slides02 {
  z-index: 20;
  margin: 0 !important; }
  @media only screen and (max-width: 768px) {
    #slides02 .title-block {
      visibility: hidden;
      height: 20px; }
    #slides02 #work02-content {
      margin-top: 50px; }
      #slides02 #work02-content .img {
        height: 200px;
        width: 90%;
        background-image: url(../../img/riddikulus-comp.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto; }
      #slides02 #work02-content .work-text {
        padding: 0 25px; }
      #slides02 #work02-content .work-nav {
        margin-top: 40px;
        padding: 0 25px;
        text-align: center; }
        #slides02 #work02-content .work-nav a {
          font-family: 'Roboto', sans-serif !important;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 12px;
          border: thin solid #E2D6DB;
          padding: 8px;
          background-color: #E2D6DB;
          border-radius: 4px;
          color: black;
          margin-right: 5px; }
          #slides02 #work02-content .work-nav a:hover {
            text-decoration: none; } }
  @media only screen and (min-width: 769px) {
    #slides02 #work02-content .img {
      background-image: url(../../img/riddikulus-comp.png) !important; }
    #slides02 .pin-wrappers {
      transform: translateY(-100%); } }

#slides03 {
  z-index: 20;
  margin: 0 !important; }
  @media only screen and (max-width: 768px) {
    #slides03 .title-block {
      visibility: hidden;
      height: 20px; }
    #slides03 #work03-content {
      margin-top: 50px; }
      #slides03 #work03-content .img {
        height: 200px;
        width: 90%;
        background-image: url(../../img/snakes-comp.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto; }
      #slides03 #work03-content .work-text {
        padding: 0 25px; }
      #slides03 #work03-content .work-nav {
        margin-top: 40px;
        padding: 0 25px;
        text-align: center; }
        #slides03 #work03-content .work-nav a {
          font-family: 'Roboto', sans-serif !important;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 12px;
          border: thin solid #E2D6DB;
          padding: 8px;
          background-color: #E2D6DB;
          border-radius: 4px;
          color: black;
          margin-right: 5px; }
          #slides03 #work03-content .work-nav a:hover {
            text-decoration: none; } }
  @media only screen and (min-width: 769px) {
    #slides03 #work03-content .img {
      background-image: url(../../img/snakes-comp.png); }
    #slides03 .pin-wrappers {
      transform: translateY(-100%); } }

@media only screen and (max-width: 768px) {
  #contactSlideOuter {
    margin-top: 100px;
    margin-left: 0 !important;
    margin-right: 0 !important; } }

#contactSlideOuter #contactSlide {
  margin: 0 !important; }
  #contactSlideOuter #contactSlide .title-block {
    background-color: #f7484e;
    margin-bottom: 0; }
  #contactSlideOuter #contactSlide .social-buttons {
    display: flex;
    padding-left: 0 !important;
    margin-top: 5%; }
    #contactSlideOuter #contactSlide .social-buttons a:hover {
      text-decoration: none; }
    #contactSlideOuter #contactSlide .social-buttons a li {
      list-style-type: none;
      display: inline-flex;
      padding-right: 15px;
      color: black; }
      #contactSlideOuter #contactSlide .social-buttons a li i {
        font-size: 20px; }
  #contactSlideOuter #contactSlide #post1 {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    display: inline-flex;
    float: left;
    margin-right: 15px;
    background-size: cover;
    background-repeat: no-repeat; }
    #contactSlideOuter #contactSlide #post1 #blog-title {
      position: absolute;
      top: 0; }
  #contactSlideOuter #contactSlide #read-more {
    position: absolute;
    bottom: 0;
    border: thin solid #E2D6DB;
    padding: 8px;
    background-color: #E2D6DB;
    border-radius: 4px;
    color: black;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px; }
    #contactSlideOuter #contactSlide #read-more:hover {
      text-decoration: none; }
  @media only screen and (max-width: 768px) {
    #contactSlideOuter #contactSlide .title-block {
      height: 50vh;
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      font-family: 'Lato', sans-serif !important;
      text-transform: uppercase;
      letter-spacing: 4px;
      word-spacing: 8px;
      font-size: 45px;
      text-align: center; }
      #contactSlideOuter #contactSlide .title-block .nav-footer {
        visibility: hidden; }
      #contactSlideOuter #contactSlide .title-block .title-text {
        margin-top: 0;
        margin: 0;
        color: white; }
    #contactSlideOuter #contactSlide #contact-text {
      margin-bottom: 85px; } }
  @media only screen and (min-width: 769px) {
    #contactSlideOuter #contactSlide {
      position: relative; }
      #contactSlideOuter #contactSlide #contact-header {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f7484e; }
        #contactSlideOuter #contactSlide #contact-header .title-text {
          font-family: 'Lato', sans-serif !important;
          text-transform: uppercase;
          letter-spacing: 4px;
          word-spacing: 8px;
          font-size: 45px;
          text-align: center;
          color: white; }
        #contactSlideOuter #contactSlide #contact-header ul {
          width: 100%;
          position: absolute;
          bottom: 20%;
          padding-left: 0 !important; }
          #contactSlideOuter #contactSlide #contact-header ul a:hover {
            text-decoration: none; }
          #contactSlideOuter #contactSlide #contact-header ul a:nth-child(1n+2)::before {
            content: '/';
            padding: 0 10px;
            color: black; }
          #contactSlideOuter #contactSlide #contact-header ul a li {
            display: inline-flex;
            font-size: 12px;
            color: black; }
        #contactSlideOuter #contactSlide #contact-header .nav-footer {
          display: flex;
          justify-content: center;
          bottom: 10%; }
      #contactSlideOuter #contactSlide #contact-text {
        height: 100vh;
        padding: 50px;
        position: relative;
        padding-top: 10%;
        width: 50%;
        text-align: left; }
        #contactSlideOuter #contactSlide #contact-text ul {
          padding-left: 0 !important; }
        #contactSlideOuter #contactSlide #contact-text .social-buttons {
          display: flex;
          padding-left: 0 !important;
          margin-top: 5%; }
          #contactSlideOuter #contactSlide #contact-text .social-buttons a:hover {
            text-decoration: none; }
          #contactSlideOuter #contactSlide #contact-text .social-buttons a li {
            list-style-type: none;
            display: inline-flex;
            padding-right: 15px;
            color: black; }
            #contactSlideOuter #contactSlide #contact-text .social-buttons a li i {
              font-size: 20px; }
        #contactSlideOuter #contactSlide #contact-text #blog-container {
          width: 100%; }
          #contactSlideOuter #contactSlide #contact-text #blog-container #post1 {
            height: 150px;
            width: 150px;
            border-radius: 5px;
            display: inline-flex;
            float: left;
            margin-right: 15px;
            background-size: cover;
            background-repeat: no-repeat; }
            #contactSlideOuter #contactSlide #contact-text #blog-container #post1 #blog-title {
              position: absolute;
              top: 0; }
          #contactSlideOuter #contactSlide #contact-text #blog-container #blog-title {
            font-style: italic; }
          #contactSlideOuter #contactSlide #contact-text #blog-container #blog-content {
            width: 42%; }
          #contactSlideOuter #contactSlide #contact-text #blog-container #read-more {
            position: absolute;
            bottom: 0;
            border: thin solid #E2D6DB;
            padding: 8px;
            background-color: #E2D6DB;
            border-radius: 4px;
            color: black;
            margin-right: 10px;
            font-family: 'Roboto', sans-serif !important;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px; }
            #contactSlideOuter #contactSlide #contact-text #blog-container #read-more:hover {
              text-decoration: none; } }
