* {
  box-sizing: border-box; }

#title-font, #work, #contact {
  font-family: 'Playfair Display', sans-serif; }

#landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  #landing #name {
    font-family: 'Playfair Display', sans-serif;
    font-size: 4em;
    padding-left: 20px; }
  #landing #byline {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    padding-left: 200px; }
  #landing #nav-footer {
    position: absolute;
    bottom: 25px;
    justify-content: center;
    text-align: center; }
    #landing #nav-footer ul a:nth-child(1n+2)::before {
      content: '/'; }
    #landing #nav-footer ul li {
      display: inline-flex;
      padding: 0 10px; }

#about {
  background-color: #ccc;
  display: flex;
  align-items: center; }
  #about .chapter-content {
    background-color: white;
    float: right; }
    #about .chapter-content .text {
      padding: 100px; }
  #about .chapter-title {
    display: flex;
    align-items: center; }
    #about .chapter-title h1.title-font {
      justify-content: center;
      width: 100%;
      position: absolute;
      align-self: center;
      text-align: center;
      font-family: 'Playfair Display', sans-serif; }

.scrollmagic-pin-spacer {
  display: inline-block !important;
  float: left !important; }

#work {
  width: 100% !important;
  background-color: white;
  display: flex;
  align-items: center; }
  #work .container-fluid {
    width: 100%; }
  #work .chapter-content {
    background-color: white;
    float: right;
    z-index: 10;
    padding: 0 !important; }
  #work .chapter-title {
    justify-content: center; }
  #work #kne {
    height: 100vh;
    width: 100%;
    padding: 0;
    background-color: red; }
  #work #riddikulus {
    height: 100vh;
    width: 100%;
    background-color: blue; }
  #work #snakes {
    height: 100vh;
    width: 100%;
    background-color: black; }

#contact {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center; }
  #contact .chapter-content {
    height: 100vh;
    display: flex;
    float: right;
    z-index: 10;
    background-color: white;
    flex-wrap: wrap;
    align-items: center; }
  #contact .chapter-title {
    height: 100vh;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center; }
  #contact .scrollmagic-pin-spacer {
    display: inline-block !important;
    float: left !important;
    padding-top: 0 !important; }
