.nav-footer ul, .slides .pin-wrappers #work01-header ul, .slides .pin-wrappers #work02-header ul, .slides .pin-wrappers #work03-header ul, #landingSlide ul, #aboutSlide #about-header ul, #contactSlide #contact-header ul {
  width: 100%;
  position: absolute;
  bottom: 20%;
  padding-left: 0 !important; }
  .nav-footer ul a:hover, .slides .pin-wrappers #work01-header ul a:hover, .slides .pin-wrappers #work02-header ul a:hover, .slides .pin-wrappers #work03-header ul a:hover, #landingSlide ul a:hover, #aboutSlide #about-header ul a:hover, #contactSlide #contact-header ul a:hover {
    text-decoration: none; }
  .nav-footer ul a:nth-child(1n+2)::before, .slides .pin-wrappers #work01-header ul a:nth-child(1n+2)::before, .slides .pin-wrappers #work02-header ul a:nth-child(1n+2)::before, .slides .pin-wrappers #work03-header ul a:nth-child(1n+2)::before, #landingSlide ul a:nth-child(1n+2)::before, #aboutSlide #about-header ul a:nth-child(1n+2)::before, #contactSlide #contact-header ul a:nth-child(1n+2)::before {
    content: '/';
    padding: 0 10px;
    color: black; }
  .nav-footer ul a li, .slides .pin-wrappers #work01-header ul a li, .slides .pin-wrappers #work02-header ul a li, .slides .pin-wrappers #work03-header ul a li, #landingSlide ul a li, #aboutSlide #about-header ul a li, #contactSlide #contact-header ul a li {
    display: inline-flex;
    font-size: 12px;
    color: black; }

@font-face {
  font-family: 'Stylistic Alt';
  src: url("/fonts/StylisticAlt.eot");
  src: url("/fonts/StylisticAlt.eot?#iefix") format("embedded-opentype"), url("/fonts/StylisticAlt.woff") format("woff"), url("/fonts/StylisticAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.stylistic-font {
  font-family: 'Stylistic Alt', sans-serif !important;
  font-size: 75px; }

.title-font, #landingSlide #wrapper #name, #aboutSlide .title-block .title-text, #contactSlide .title-block .title-text {
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 8px;
  font-size: 45px;
  text-align: center; }

.subtitle-font, .nav-footer ul a li, .slides .pin-wrappers #work01-header ul a li, .slides .pin-wrappers #work02-header ul a li, .slides .pin-wrappers #work03-header ul a li, #landingSlide ul a li, #aboutSlide #about-header ul a li, #contactSlide #contact-header ul a li, #landingSlide #wrapper #byline {
  font-family: 'Roboto', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px; }

.nav-footer ul, .slides .pin-wrappers #work01-header ul, .slides .pin-wrappers #work02-header ul, .slides .pin-wrappers #work03-header ul, #landingSlide ul, #aboutSlide #about-header ul, #contactSlide #contact-header ul {
  width: 100%;
  position: absolute;
  bottom: 20%;
  padding-left: 0 !important; }
  .nav-footer ul a:hover, .slides .pin-wrappers #work01-header ul a:hover, .slides .pin-wrappers #work02-header ul a:hover, .slides .pin-wrappers #work03-header ul a:hover, #landingSlide ul a:hover, #aboutSlide #about-header ul a:hover, #contactSlide #contact-header ul a:hover {
    text-decoration: none; }
  .nav-footer ul a:nth-child(1n+2)::before, .slides .pin-wrappers #work01-header ul a:nth-child(1n+2)::before, .slides .pin-wrappers #work02-header ul a:nth-child(1n+2)::before, .slides .pin-wrappers #work03-header ul a:nth-child(1n+2)::before, #landingSlide ul a:nth-child(1n+2)::before, #aboutSlide #about-header ul a:nth-child(1n+2)::before, #contactSlide #contact-header ul a:nth-child(1n+2)::before {
    content: '/';
    padding: 0 10px;
    color: black; }
  .nav-footer ul a li, .slides .pin-wrappers #work01-header ul a li, .slides .pin-wrappers #work02-header ul a li, .slides .pin-wrappers #work03-header ul a li, #landingSlide ul a li, #aboutSlide #about-header ul a li, #contactSlide #contact-header ul a li {
    display: inline-flex;
    font-size: 12px;
    color: black; }

.chapter-content {
  background-color: #EDEDED; }

.chapter-title {
  background-color: white; }

.scrollmagic-pin-spacer {
  pointer-events: none; }

.row.slides {
  pointer-events: none; }

.slides {
  position: relative;
  overflow: hidden;
  height: 100vh; }
  .slides .pin-wrappers {
    height: 100%;
    width: 100%;
    pointer-events: none; }
    .slides .pin-wrappers .title-block {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .slides .pin-wrappers #work01-header, .slides .pin-wrappers #work02-header, .slides .pin-wrappers #work03-header {
      padding: 0;
      background-color: white; }
      .slides .pin-wrappers #work01-header .nav-footer, .slides .pin-wrappers #work01-header #work01-header, .slides .pin-wrappers #work01-header #work02-header, .slides .pin-wrappers #work01-header #work03-header, .slides .pin-wrappers #work01-header #landingSlide, .slides .pin-wrappers #work01-header #aboutSlide #about-header, #aboutSlide .slides .pin-wrappers #work01-header #about-header, .slides .pin-wrappers #work01-header #contactSlide #contact-header, #contactSlide .slides .pin-wrappers #work01-header #contact-header, .slides .pin-wrappers #work02-header .nav-footer, .slides .pin-wrappers #work02-header #work01-header, .slides .pin-wrappers #work02-header #work02-header, .slides .pin-wrappers #work02-header #work03-header, .slides .pin-wrappers #work02-header #landingSlide, .slides .pin-wrappers #work02-header #aboutSlide #about-header, #aboutSlide .slides .pin-wrappers #work02-header #about-header, .slides .pin-wrappers #work02-header #contactSlide #contact-header, #contactSlide .slides .pin-wrappers #work02-header #contact-header, .slides .pin-wrappers #work03-header .nav-footer, .slides .pin-wrappers #work03-header #work01-header, .slides .pin-wrappers #work03-header #work02-header, .slides .pin-wrappers #work03-header #work03-header, .slides .pin-wrappers #work03-header #landingSlide, .slides .pin-wrappers #work03-header #aboutSlide #about-header, #aboutSlide .slides .pin-wrappers #work03-header #about-header, .slides .pin-wrappers #work03-header #contactSlide #contact-header, #contactSlide .slides .pin-wrappers #work03-header #contact-header {
        display: flex;
        justify-content: center;
        bottom: 10%; }
    .slides .pin-wrappers #work01-content, .slides .pin-wrappers #work02-content, .slides .pin-wrappers #work03-content {
      height: 100%; }
      .slides .pin-wrappers #work01-content .img, .slides .pin-wrappers #work02-content .img, .slides .pin-wrappers #work03-content .img {
        position: absolute;
        z-index: 1;
        background-image: url(../../img/macbook-comp.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 368px;
        width: 650px;
        top: 10%; }
      .slides .pin-wrappers #work01-content .work-text p, .slides .pin-wrappers #work02-content .work-text p, .slides .pin-wrappers #work03-content .work-text p {
        width: 90%; }
      .slides .pin-wrappers #work01-content .work-nav, .slides .pin-wrappers #work02-content .work-nav, .slides .pin-wrappers #work03-content .work-nav {
        pointer-events: all;
        position: absolute;
        bottom: 11%;
        margin-left: 6%;
        z-index: 999;
        left: 35%; }
        .slides .pin-wrappers #work01-content .work-nav a, .slides .pin-wrappers #work02-content .work-nav a, .slides .pin-wrappers #work03-content .work-nav a {
          font-family: 'Roboto', sans-serif !important;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 12px;
          border: thin solid #E2D6DB;
          padding: 8px;
          background-color: #E2D6DB;
          border-radius: 4px;
          color: black;
          margin-right: 5px; }
          .slides .pin-wrappers #work01-content .work-nav a:hover, .slides .pin-wrappers #work02-content .work-nav a:hover, .slides .pin-wrappers #work03-content .work-nav a:hover {
            text-decoration: none; }

#slides02 #work02-content .img {
  background-image: url(../../img/riddikulus-comp.png) !important; }

#slides03 #work03-content .img {
  background-image: url(../../img/snakes-comp.png); }

#slides02 .pin-wrappers {
  transform: translateY(-100%); }

#slides03 .pin-wrappers {
  transform: translateY(-100%); }

.scrollmagic-pin-spacer {
  position: absolute !important;
  clip: rect(auto, auto, auto, auto); }

@font-face {
  font-family: 'Stylistic Alt';
  src: url("/fonts/StylisticAlt.eot");
  src: url("/fonts/StylisticAlt.eot?#iefix") format("embedded-opentype"), url("/fonts/StylisticAlt.woff") format("woff"), url("/fonts/StylisticAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.stylistic-font {
  font-family: 'Stylistic Alt', sans-serif !important;
  font-size: 75px; }

.title-font, #landingSlide #wrapper #name, #aboutSlide .title-block .title-text, #contactSlide .title-block .title-text {
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 8px;
  font-size: 45px;
  text-align: center; }

.subtitle-font, .nav-footer ul a li, .slides .pin-wrappers #work01-header ul a li, .slides .pin-wrappers #work02-header ul a li, .slides .pin-wrappers #work03-header ul a li, #landingSlide ul a li, #aboutSlide #about-header ul a li, #contactSlide #contact-header ul a li, #landingSlide #wrapper #byline {
  font-family: 'Roboto', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0; }

body {
  margin: 0;
  overflow-x: hidden; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

.fixed-header {
  position: fixed !important;
  padding: 0 !important;
  width: 50%; }

.float-right {
  float: right !important; }

#landingSlide {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 50px; }
  #landingSlide .nav-footer, #landingSlide .slides .pin-wrappers #work01-header, .slides .pin-wrappers #landingSlide #work01-header, #landingSlide .slides .pin-wrappers #work02-header, .slides .pin-wrappers #landingSlide #work02-header, #landingSlide .slides .pin-wrappers #work03-header, .slides .pin-wrappers #landingSlide #work03-header, #landingSlide #landingSlide, #landingSlide #aboutSlide #about-header, #aboutSlide #landingSlide #about-header, #landingSlide #contactSlide #contact-header, #contactSlide #landingSlide #contact-header {
    display: flex;
    justify-content: center;
    bottom: 10%; }
  #landingSlide #wrapper {
    text-align: center; }
    #landingSlide #wrapper #name {
      font-size: 55px; }
    #landingSlide #wrapper #byline {
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 4px; }

#aboutSlide {
  z-index: 20;
  margin: 0 !important; }
  #aboutSlide .title-block {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    #aboutSlide .title-block .title-text {
      color: white;
      margin: 0; }
  #aboutSlide #about-header {
    padding: 0;
    background-color: #f7484e; }
    #aboutSlide #about-header .about-img {
      background-image: url(/img/coffee.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 125px;
      width: 125px;
      border-radius: 50%;
      position: absolute;
      top: 10%;
      left: 90%; }
    #aboutSlide #about-header .nav-footer, #aboutSlide #about-header .slides .pin-wrappers #work01-header, .slides .pin-wrappers #aboutSlide #about-header #work01-header, #aboutSlide #about-header .slides .pin-wrappers #work02-header, .slides .pin-wrappers #aboutSlide #about-header #work02-header, #aboutSlide #about-header .slides .pin-wrappers #work03-header, .slides .pin-wrappers #aboutSlide #about-header #work03-header, #aboutSlide #about-header #landingSlide, #aboutSlide #about-header #about-header, #aboutSlide #about-header #contactSlide #contact-header, #contactSlide #aboutSlide #about-header #contact-header {
      display: flex;
      justify-content: center;
      bottom: 10%; }
  #aboutSlide #about-content {
    height: auto; }
    #aboutSlide #about-content .content-padding {
      padding: 100px; }

#contactSlide {
  z-index: 20;
  margin: 0 !important; }
  #contactSlide .title-block {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    #contactSlide .title-block .title-text {
      color: white; }
  #contactSlide #contact-header {
    padding: 0;
    background-color: #f7484e; }
    #contactSlide #contact-header .nav-footer, #contactSlide #contact-header .slides .pin-wrappers #work01-header, .slides .pin-wrappers #contactSlide #contact-header #work01-header, #contactSlide #contact-header .slides .pin-wrappers #work02-header, .slides .pin-wrappers #contactSlide #contact-header #work02-header, #contactSlide #contact-header .slides .pin-wrappers #work03-header, .slides .pin-wrappers #contactSlide #contact-header #work03-header, #contactSlide #contact-header #landingSlide, #contactSlide #contact-header #aboutSlide #about-header, #aboutSlide #contactSlide #contact-header #about-header, #contactSlide #contact-header #contact-header {
      display: flex;
      justify-content: center;
      bottom: 10%; }
  #contactSlide #contact-text {
    height: auto;
    padding: 100px;
    position: relative;
    padding-top: 10%;
    text-align: left; }
    #contactSlide #contact-text ul {
      padding-left: 0 !important; }
    #contactSlide #contact-text .social-buttons {
      display: flex;
      padding-left: 0 !important;
      margin-top: 5%; }
      #contactSlide #contact-text .social-buttons a:hover {
        text-decoration: none; }
      #contactSlide #contact-text .social-buttons a li {
        list-style-type: none;
        display: inline-flex;
        padding-right: 15px;
        color: black; }
        #contactSlide #contact-text .social-buttons a li i {
          font-size: 20px; }
    #contactSlide #contact-text #post1 {
      height: 150px;
      width: 150px;
      border-radius: 5px;
      display: inline-flex;
      float: left;
      margin-right: 15px;
      background-size: cover;
      background-repeat: no-repeat; }
      #contactSlide #contact-text #post1 #blog-title {
        position: absolute;
        top: 0; }
    #contactSlide #contact-text #blog-title {
      font-style: italic; }
    #contactSlide #contact-text #blog-content {
      width: 42%; }
    #contactSlide #contact-text #read-more {
      position: absolute;
      bottom: 0;
      border: thin solid #E2D6DB;
      padding: 8px;
      background-color: #E2D6DB;
      border-radius: 4px;
      color: black;
      margin-right: 10px;
      font-family: 'Roboto', sans-serif !important;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px; }
      #contactSlide #contact-text #read-more:hover {
        text-decoration: none; }

@media screen and (min-width: 992px) {
  #about-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    padding: 0; }
  #about-content {
    position: relative;
    z-index: 100;
    left: 50%; } }
