* {
  box-sizing: border-box; }

#title-font {
  font-family: 'Playfair Display', sans-serif; }

#landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  #landing #name {
    font-family: 'Playfair Display', sans-serif;
    font-size: 4em;
    padding-left: 20px; }
  #landing #byline {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    padding-left: 200px; }
  #landing #nav-footer {
    position: absolute;
    bottom: 25px;
    justify-content: center;
    text-align: center; }
    #landing #nav-footer ul a:nth-child(1n+2)::before {
      content: '/'; }
    #landing #nav-footer ul li {
      display: inline-flex;
      padding: 0 10px; }

#about {
  background-color: #ccc;
  display: flex;
  align-items: center; }
  #about .chapter-content {
    background-color: white;
    float: right;
    z-index: 10; }
    #about .chapter-content text {
      padding: 100px; }
  #about .chapter-title {
    display: flex;
    align-items: center; }
    #about .chapter-title h1.title-font {
      height: 100%;
      width: 100%;
      position: absolute;
      text-align: center;
      font-family: 'Playfair Display', sans-serif; }
    #about .chapter-title img {
      width: 150px;
      height: 150px;
      z-index: 100000;
      position: absolute;
      top: 50px;
      left: 90%;
      border-radius: 75px; }

.scrollmagic-pin-spacer {
  display: inline-block !important;
  float: left !important; }

#work {
  background-color: white;
  display: flex;
  align-items: center; }
  #work .chapter-content {
    background-color: white;
    float: right;
    z-index: 10; }
    #work .chapter-content text {
      padding: 100px; }
  #work .chapter-title {
    display: flex;
    align-items: center; }
    #work .chapter-title .title-font {
      height: 100%;
      width: 100%;
      position: absolute;
      text-align: center;
      font-family: 'Playfair Display', sans-serif; }
    #work .chapter-title img {
      width: 150px;
      height: 150px;
      z-index: 10;
      position: absolute;
      top: 50px;
      left: 90%;
      border-radius: 75px; }
