* {
  box-sizing: border-box; }

#title-font, #about {
  font-family: 'Playfair Display', sans-serif; }

#landing {
  height: 100vh;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center; }
  #landing #name {
    font-family: 'Playfair Display', sans-serif;
    font-size: 4em;
    padding-left: 20px; }
  #landing #byline {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    padding-left: 200px; }
  #landing #nav-footer {
    position: absolute;
    bottom: 25px;
    justify-content: center;
    text-align: center; }
    #landing #nav-footer ul a:nth-child(1n+2)::before {
      content: '/'; }
    #landing #nav-footer ul li {
      display: inline-flex;
      padding: 0 10px; }

#about {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue; }
  #about .chapter-title {
    background-color: #ccc; }
  #about .fullpage-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    #about .fullpage-section #row-height {
      height: calc(100% - 100px);
      overflow: auto; }
    #about .fullpage-section #sans {
      height: 100%;
      padding: 100px; }
  #about #me {
    position: relative; }
    #about #me img {
      width: 150px;
      height: 150px;
      z-index: 10;
      position: absolute;
      top: 50px;
      left: 45%;
      border-radius: 75px; }
