@font-face {
  font-family: 'Stylistic Alt';
  src: url("/fonts/StylisticAlt.eot");
  src: url("/fonts/StylisticAlt.eot?#iefix") format("embedded-opentype"), url("/fonts/StylisticAlt.woff") format("woff"), url("/fonts/StylisticAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.stylistic-font, #aboutSlide .title-block .title-text, #contactSlide #contact-header .title-text {
  font-family: 'Stylistic Alt', sans-serif !important;
  font-size: 75px; }

.title-font, .imgText h3, #landingSlide #wrapper #name {
  font-family: 'Playfair Display', sans-serif !important; }

@font-face {
  font-family: 'Stylistic Alt';
  src: url("/fonts/StylisticAlt.eot");
  src: url("/fonts/StylisticAlt.eot?#iefix") format("embedded-opentype"), url("/fonts/StylisticAlt.woff") format("woff"), url("/fonts/StylisticAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.stylistic-font, #aboutSlide .title-block .title-text, #contactSlide #contact-header .title-text {
  font-family: 'Stylistic Alt', sans-serif !important;
  font-size: 75px; }

.title-font, .imgText h3, #landingSlide #wrapper #name {
  font-family: 'Playfair Display', sans-serif !important; }

.wrapper {
  max-width: 350px;
  margin: 0 10%; }

#slide01, #slide02, #slide03 {
  background-color: white; }

.slide {
  position: relative;
  overflow: hidden;
  height: 100vh; }

.slide .pin-wrapper {
  width: 100%;
  height: 100%; }

.slide .pin-wrapper .chapter-content {
  width: 50%;
  background-color: #EDEDED;
  height: 100%;
  float: right; }

.slide .wrapper {
  position: absolute;
  top: 45%;
  left: 15%; }
  .slide .wrapper .nav-footer, .slide .wrapper #landingSlide, .slide .wrapper #aboutSlide #about-header, #aboutSlide .slide .wrapper #about-header, .slide .wrapper #contactSlide #contact-header, #contactSlide .slide .wrapper #contact-header, .slide .wrapper #contactSlide #contact-text, #contactSlide .slide .wrapper #contact-text {
    display: inline-flex;
    list-style: none; }
    .slide .wrapper .nav-footer ul, .slide .wrapper #landingSlide ul, .slide .wrapper #aboutSlide #about-header ul, #aboutSlide .slide .wrapper #about-header ul, .slide .wrapper #contactSlide #contact-header ul, #contactSlide .slide .wrapper #contact-header ul, .slide .wrapper #contactSlide #contact-text ul, #contactSlide .slide .wrapper #contact-text ul {
      width: 50%;
      position: absolute;
      bottom: 20%;
      padding-left: 0 !important; }
      .slide .wrapper .nav-footer ul a:nth-child(1n+2)::before, .slide .wrapper #landingSlide ul a:nth-child(1n+2)::before, .slide .wrapper #aboutSlide #about-header ul a:nth-child(1n+2)::before, #aboutSlide .slide .wrapper #about-header ul a:nth-child(1n+2)::before, .slide .wrapper #contactSlide #contact-header ul a:nth-child(1n+2)::before, #contactSlide .slide .wrapper #contact-header ul a:nth-child(1n+2)::before, .slide .wrapper #contactSlide #contact-text ul a:nth-child(1n+2)::before, #contactSlide .slide .wrapper #contact-text ul a:nth-child(1n+2)::before {
        content: '/';
        padding: 0 10px; }
      .slide .wrapper .nav-footer ul a li, .slide .wrapper #landingSlide ul a li, .slide .wrapper #aboutSlide #about-header ul a li, #aboutSlide .slide .wrapper #about-header ul a li, .slide .wrapper #contactSlide #contact-header ul a li, #contactSlide .slide .wrapper #contact-header ul a li, .slide .wrapper #contactSlide #contact-text ul a li, #contactSlide .slide .wrapper #contact-text ul a li {
        display: inline-flex; }

.slide .img {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 600px;
  height: 418px;
  background: url("/img/macbook-comp.png") no-repeat top left;
  background-size: contain;
  transform: translate(-80%, -40%);
  transform: translate(10%, 0%); }

.scrollmagic-pin-spacer {
  position: absolute !important;
  clip: rect(auto, auto, auto, auto); }

#slide02 .img {
  background-image: url("/img/riddikulus-comp.png");
  background-size: contain; }

#slide03 .img {
  background-image: url("/img/snakes-comp.png");
  background-size: contain; }

#slide02 .pin-wrapper,
#slide03 .pin-wrapper {
  transform: translateY(-100%); }

.imgText {
  position: absolute;
  top: 55%;
  left: 50%;
  height: 100%;
  padding: 0 100px; }
  .imgText div.work-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px; }
    .imgText div.work-buttons .work-button {
      margin-right: 10px;
      background-color: #f7484e;
      border: none;
      color: white;
      border-radius: 7px;
      padding: 5px; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0; }

body {
  margin: 0;
  overflow-x: hidden; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

.fixed-header {
  position: fixed !important;
  padding: 0 !important;
  width: 50%; }

.nav-footer ul, #landingSlide ul, #aboutSlide #about-header ul, #contactSlide #contact-header ul, #contactSlide #contact-text ul {
  width: 100%;
  position: absolute;
  bottom: 20%;
  padding-left: 0 !important; }
  .nav-footer ul a:nth-child(1n+2)::before, #landingSlide ul a:nth-child(1n+2)::before, #aboutSlide #about-header ul a:nth-child(1n+2)::before, #contactSlide #contact-header ul a:nth-child(1n+2)::before, #contactSlide #contact-text ul a:nth-child(1n+2)::before {
    content: '/';
    padding: 0 10px; }
  .nav-footer ul a li, #landingSlide ul a li, #aboutSlide #about-header ul a li, #contactSlide #contact-header ul a li, #contactSlide #contact-text ul a li {
    display: inline-flex; }

#landingSlide {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 50px; }
  #landingSlide .nav-footer, #landingSlide #landingSlide, #landingSlide #aboutSlide #about-header, #aboutSlide #landingSlide #about-header, #landingSlide #contactSlide #contact-header, #contactSlide #landingSlide #contact-header, #landingSlide #contactSlide #contact-text, #contactSlide #landingSlide #contact-text {
    display: flex;
    justify-content: center;
    bottom: 10%; }
  #landingSlide #wrapper {
    text-align: center; }
    #landingSlide #wrapper #name {
      font-size: 55px; }
    #landingSlide #wrapper #byline {
      text-transform: uppercase;
      letter-spacing: 1px; }

#aboutSlide {
  z-index: 20;
  margin: 0 !important; }
  #aboutSlide .title-block {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    #aboutSlide .title-block .title-text {
      color: white;
      margin: 0; }
  #aboutSlide #about-header {
    padding: 0;
    background-color: #f7484e; }
    #aboutSlide #about-header .about-img {
      height: 125px;
      width: 125px;
      border-radius: 50%;
      position: absolute;
      top: 10%;
      left: 90%; }
    #aboutSlide #about-header .nav-footer, #aboutSlide #about-header #landingSlide, #aboutSlide #about-header #about-header, #aboutSlide #about-header #contactSlide #contact-header, #contactSlide #aboutSlide #about-header #contact-header, #aboutSlide #about-header #contactSlide #contact-text, #contactSlide #aboutSlide #about-header #contact-text {
      display: flex;
      justify-content: center;
      color: white;
      bottom: 10%; }
  #aboutSlide #about-content {
    height: auto; }
    #aboutSlide #about-content .content-padding {
      padding: 100px; }

#contactSlide {
  position: relative; }
  #contactSlide #contact-header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7484e; }
    #contactSlide #contact-header .title-text {
      color: white; }
    #contactSlide #contact-header .nav-footer, #contactSlide #contact-header #landingSlide, #contactSlide #contact-header #aboutSlide #about-header, #aboutSlide #contactSlide #contact-header #about-header, #contactSlide #contact-header #contact-header, #contactSlide #contact-header #contact-text {
      display: flex;
      justify-content: center;
      bottom: 10%; }
  #contactSlide #contact-text {
    height: 100vh;
    padding: 100px;
    position: relative;
    padding-top: 10%; }
    #contactSlide #contact-text #contact-text {
      text-align: left; }
      #contactSlide #contact-text #contact-text ul {
        padding-left: 0 !important; }

@media screen and (min-width: 992px) {
  #about-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    padding: 0; }
  #about-content {
    position: relative;
    z-index: 100;
    left: 50%; } }
