@font-face {
  font-family: 'Stylistic Alt';
  src: url("/fonts/StylisticAlt.eot");
  src: url("/fonts/StylisticAlt.eot?#iefix") format("embedded-opentype"), url("/fonts/StylisticAlt.woff") format("woff"), url("/fonts/StylisticAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.stylistic-font {
  font-family: 'Stylistic Alt', sans-serif !important;
  font-size: 75px; }

.title-font {
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 8px;
  font-size: 45px;
  text-align: center; }

.subtitle-font, .nav-footer ul a li, .slides .pin-wrappers #work01-header ul a li, .slides .pin-wrappers #work02-header ul a li, .slides .pin-wrappers #work03-header ul a li {
  font-family: 'Roboto', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px; }

.nav-footer ul, .slides .pin-wrappers #work01-header ul, .slides .pin-wrappers #work02-header ul, .slides .pin-wrappers #work03-header ul {
  width: 100%;
  position: absolute;
  bottom: 20%;
  padding-left: 0 !important; }
  .nav-footer ul a:hover, .slides .pin-wrappers #work01-header ul a:hover, .slides .pin-wrappers #work02-header ul a:hover, .slides .pin-wrappers #work03-header ul a:hover {
    text-decoration: none; }
  .nav-footer ul a:nth-child(1n+2)::before, .slides .pin-wrappers #work01-header ul a:nth-child(1n+2)::before, .slides .pin-wrappers #work02-header ul a:nth-child(1n+2)::before, .slides .pin-wrappers #work03-header ul a:nth-child(1n+2)::before {
    content: '/';
    padding: 0 10px;
    color: black; }
  .nav-footer ul a li, .slides .pin-wrappers #work01-header ul a li, .slides .pin-wrappers #work02-header ul a li, .slides .pin-wrappers #work03-header ul a li {
    display: inline-flex;
    font-size: 12px;
    color: black; }

.chapter-content {
  background-color: #EDEDED; }

.chapter-title {
  background-color: white; }

.scrollmagic-pin-spacer {
  pointer-events: none; }

.row.slides {
  pointer-events: none; }

.slides {
  position: relative;
  overflow: hidden;
  height: 100vh; }
  .slides .pin-wrappers {
    height: 100%;
    width: 100%;
    pointer-events: none; }
    .slides .pin-wrappers .title-block {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .slides .pin-wrappers #work01-header, .slides .pin-wrappers #work02-header, .slides .pin-wrappers #work03-header {
      padding: 0;
      background-color: white; }
      .slides .pin-wrappers #work01-header .nav-footer, .slides .pin-wrappers #work01-header #work01-header, .slides .pin-wrappers #work01-header #work02-header, .slides .pin-wrappers #work01-header #work03-header, .slides .pin-wrappers #work02-header .nav-footer, .slides .pin-wrappers #work02-header #work01-header, .slides .pin-wrappers #work02-header #work02-header, .slides .pin-wrappers #work02-header #work03-header, .slides .pin-wrappers #work03-header .nav-footer, .slides .pin-wrappers #work03-header #work01-header, .slides .pin-wrappers #work03-header #work02-header, .slides .pin-wrappers #work03-header #work03-header {
        display: flex;
        justify-content: center;
        bottom: 10%; }
    .slides .pin-wrappers #work01-content, .slides .pin-wrappers #work02-content, .slides .pin-wrappers #work03-content {
      height: 100%; }
      .slides .pin-wrappers #work01-content .img, .slides .pin-wrappers #work02-content .img, .slides .pin-wrappers #work03-content .img {
        position: absolute;
        z-index: 1;
        background-image: url(../../img/macbook-comp.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 368px;
        width: 650px;
        top: 10%; }
      .slides .pin-wrappers #work01-content .work-text p, .slides .pin-wrappers #work02-content .work-text p, .slides .pin-wrappers #work03-content .work-text p {
        width: 90%; }
      .slides .pin-wrappers #work01-content .work-nav, .slides .pin-wrappers #work02-content .work-nav, .slides .pin-wrappers #work03-content .work-nav {
        pointer-events: all;
        position: absolute;
        bottom: 11%;
        margin-left: 6%;
        z-index: 999;
        left: 30%; }
        .slides .pin-wrappers #work01-content .work-nav a, .slides .pin-wrappers #work02-content .work-nav a, .slides .pin-wrappers #work03-content .work-nav a {
          border: thin solid #E2D6DB;
          padding: 8px;
          background-color: #E2D6DB;
          border-radius: 4px;
          color: black;
          margin-right: 5px; }
          .slides .pin-wrappers #work01-content .work-nav a:hover, .slides .pin-wrappers #work02-content .work-nav a:hover, .slides .pin-wrappers #work03-content .work-nav a:hover {
            text-decoration: none; }

#slides02 #work02-content .img {
  background-image: url(../../img/riddikulus-comp.png) !important; }

#slides03 #work03-content .img {
  background-image: url(../../img/snakes-comp.png); }

#slides02 .pin-wrappers {
  transform: translateY(-100%); }

#slides03 .pin-wrappers {
  transform: translateY(-100%); }

.scrollmagic-pin-spacer {
  position: absolute !important;
  clip: rect(auto, auto, auto, auto); }
