@font-face {
  font-family: 'Stylistic Alt';
  src: url("/fonts/StylisticAlt.eot");
  src: url("/fonts/StylisticAlt.eot?#iefix") format("embedded-opentype"), url("/fonts/StylisticAlt.woff") format("woff"), url("/fonts/StylisticAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.stylistic-font {
  font-family: 'Stylistic Alt', sans-serif !important;
  font-size: 75px; }

.title-font, .imgText h3 {
  font-family: 'Playfair Display', sans-serif !important; }

.wrapper {
  max-width: 350px;
  margin: 0 10%; }

#slide01, #slide02, #slide03 {
  background-color: white; }

.slide {
  position: relative;
  overflow: hidden;
  height: 100vh; }

.slide .pin-wrapper {
  width: 100%;
  height: 100%; }

.slide .pin-wrapper .chapter-content {
  width: 50%;
  background-color: #EDEDED;
  height: 100%;
  float: right; }

.slide .wrapper {
  position: absolute;
  top: 45%;
  left: 15%; }

.slide .img {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 600px;
  height: 418px;
  background: url("/img/macbook-comp.png") no-repeat top left;
  background-size: contain;
  transform: translate(-80%, -40%);
  transform: translate(10%, 0%); }

.scrollmagic-pin-spacer {
  position: absolute !important;
  clip: rect(auto, auto, auto, auto); }

#slide02 .img {
  background-image: url("/img/riddikulus-comp.png");
  background-size: contain; }

#slide03 .img {
  background-image: url("/img/snakes-comp.png");
  background-size: contain; }

#slide02 .pin-wrapper,
#slide03 .pin-wrapper {
  transform: translateY(-100%); }

.imgText {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 700px;
  height: 100%;
  padding: 0 100px; }
