@mixin subtitle-font{
  font-family: 'Roboto', sans-serif !important;
  text-transform:uppercase;
  letter-spacing:2px;
}

@mixin title-font{
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 8px;
  font-size:45px;
  text-align:center;
}

%subtitle-font{
  @include subtitle-font;
}

%title-font{
  @include title-font;
}

.subtitle-font{
  @extend %subtitle-font;
}

.title-font{
  @extend %title-font;
}

