/* color variables */
$red: #f7484e;
$purple: #E2D6DB;
$gray: #EDEDED;

/* font variables */
.title-font{
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 8px;
  font-size:45px;
}

.subtitle-font{
  font-family: 'Roboto', sans-serif !important;
  text-transform:uppercase;
  letter-spacing:2px;
}

@mixin subtitle-font{
  font-family: 'Roboto', sans-serif !important;
  text-transform:uppercase;
  letter-spacing:2px;
}

%subtitle-font{
  @include subtitle-font;
}

.subtitle-font{
  @extend %subtitle-font;
}


/* mixins for media queries issues */
@mixin nav-footer {
  ul{
      width:100%;
      position:absolute;
      bottom:20%;
      padding-left:0 !important;
      a{
        &:hover{
          text-decoration: none;
        }
        &:nth-child(1n+2){
          &::before{
            content:'/';
            padding:0 10px;
            color:black;
          }
        }
        li{
          @include subtitle-font;
          display:inline-flex;
          font-size:12px;
          color:black;
        }
      }
    }
}

%nav-footer{
  @include nav-footer
}

.nav-footer{
  @extend %nav-footer;
}

//*** IPHONE 5 OR SMALLER

*{
  box-sizing: border-box;
}

html,body{
  height:100%;
  margin:0;
}

body{
  margin:0 !important;
  overflow-x: hidden;
}

.float-right{
  float:right !important;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

.fixed-header{
  position: fixed !important;
  padding:0 !important;
  width: 50%;
}

#landingSlide{
  @extend .nav-footer;
  .nav-footer{
    visibility:hidden;
    display:flex;
    justify-content: center;
    bottom:10%;
  }
  height:100vh;
  display:flex;
  align-items:center;
  #wrapper{
    text-align:center;
    #name{
      @extend .title-font;
      font-size:55px;
    }
    #byline{
      @extend .subtitle-font;
      font-weight: 400;
      text-transform:uppercase;
      letter-spacing:4px;
    }
  }
  #landing-svg{
    width:100%;
  }
}

#aboutSlide{
  z-index:20;
  margin:0 !important;
  .title-block{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .title-text{
      @extend .title-font;
      color: white;
      margin: 0;
    }
  }
  #about-header{
    padding:0;
    background-color: $red;
    .about-img {
      background-image:url(/img/coffee.jpg);
      background-repeat:no-repeat;
      background-size:cover;
      height:125px;
      width:125px;
      border-radius:50%;
      position:absolute;
      bottom: calc(0% - 62px);
    }
    @extend .nav-footer;
    .nav-footer{
      display:flex;
      justify-content:center;
      bottom:10%;
      visibility: hidden;
    }
  }
  #about-content{
    height:auto;
    .content-padding{
      padding: 80px;
    }
  }
}
#slides01{
  @media screen and (max-width: 767px) {
    height:200%;
  }
}
#slides02{
  @media screen and (max-width: 767px) {
    height:120%;
  }
}
#slides03{
  @media screen and (max-width: 767px) {
    height:120vh;
  }
}

#work01-header{
  height: 100vh;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  .nav-footer{
    visibility: hidden;
  }
}
#work01-content{
  padding-top:100px;
  .img{
    background-image:url(../../img/macbook-comp.png);
    background-repeat:no-repeat;
    background-size:contain;
    width: 75%;
    height: 250px;
    margin:0 auto;
  }
  .work-text{
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .work-nav{
    width:75%;
    margin:0 auto;
    padding-top:50px;
    a{
      font-family: 'Roboto', sans-serif !important;
      text-transform:uppercase;
      letter-spacing:2px;
      font-size:12px;
      border: thin solid #E2D6DB;
      padding:8px;
      background-color:#E2D6DB;
      border-radius:4px;
      color:black;
      margin-right:5px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
#work02-header{
  height: 0vh;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  .nav-footer{
    visibility: hidden;
  }
}
#work02-content{
  padding-top:100px;
  .img{
    background-image:url(../../img/riddikulus-comp.png);
    background-repeat:no-repeat;
    background-size:contain;
    width: 75%;
    height: 250px;
    margin:0 auto;
  }
  .work-text{
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .work-nav{
    width:75%;
    margin:0 auto;
    padding-top:50px;
    a{
      font-family: 'Roboto', sans-serif !important;
      text-transform:uppercase;
      letter-spacing:2px;
      font-size:12px;
      border: thin solid #E2D6DB;
      padding:8px;
      background-color:#E2D6DB;
      border-radius:4px;
      color:black;
      margin-right:5px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
#work03-header{
  height: 0vh;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  .nav-footer{
    visibility: hidden;
  }
}
#work03-content{
  padding-top:100px;
  .img{
    background-image:url(../../img/snakes-comp.png);
    background-repeat:no-repeat;
    background-size:contain;
    width: 75%;
    height: 250px;
    margin:0 auto;
  }
  .work-text{
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .work-nav{
    width:75%;
    margin:0 auto;
    padding-top:50px;
    a{
      font-family: 'Roboto', sans-serif !important;
      text-transform:uppercase;
      letter-spacing:2px;
      font-size:12px;
      border: thin solid #E2D6DB;
      padding:8px;
      background-color:#E2D6DB;
      border-radius:4px;
      color:black;
      margin-right:5px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

#contactSlide{
  .title-block{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
  }
  #contact-header{
    background-color:$red;
    @extend .nav-footer;
    .nav-footer{
      visibility:hidden;
      display:flex;
      justify-content: center;
      bottom:10%;
    }
    .title-font{
      color:white;
      margin-left:5%;
    }
  }
  #contact-text{
    margin-top: 10%;
    padding: 10% 15%;
    .social-buttons{
      display:flex;
      padding-left: 0 !important;
      margin-top: 5%;
      a {
        &:hover{
          text-decoration: none;
        }
        li {
        list-style-type: none;
        display:inline-flex;
        padding-right:15px;
        color:black;
          i {
            font-size:20px;
          }
        }
      }
    }
    #post1{
      height: 150px;
      width:150px;
      border-radius:5px;
      display:inline-flex;
      float:left;
      margin-right:15px;
      background-size:cover;
      background-repeat:no-repeat;
      #blog-title{
        position:absolute;
        top:0;
      }
    }
    #blog-title{
      font-style: italic;
    }
    #blog-content{
      width:42%;
    }
    #read-more{
      position:absolute;
      bottom:0;
      border: thin solid #E2D6DB;
      padding:8px;
      background-color:#E2D6DB;
      border-radius:4px;
      color:black;
      margin-right:10px;
      font-family: 'Roboto', sans-serif !important;
      text-transform:uppercase;
      letter-spacing:2px;
      font-size:12px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .fixed-header{
    position:fixed !important;
    padding:0 !important;
    width:50%;
  }

  #landingSlide{
    .nav-footer{
      visibility: visible;
    }
    .wrapper{
      width:650px;
      text-align:center;

      #byline{
        font-weight: 400;
        text-transform:uppercase;
        letter-spacing:4px;
      }
    }
  }

  #aboutSlide{
    .about-img{
      top:10%;
      right:calc(0% - 62px)
    }
    .nav-footer{
      visibility: visible !important;
    }
  }

  .chapter-content{
    background-color: #EDEDED;
  }

  .chapter-title{
    background-color:white;
  }

  .scrollmagic-pin-spacer {
    pointer-events: none;
  }

  .row {
    pointer-events: none;
    margin: 0 !important;
  }

    .slides {
      position:relative;
      overflow:hidden;
      height:100vh;
      #slides01{
        height: 100vh !important;
      }
      #slides02{
        height:100vh !important;
      }
      #slides02, #slides03{
        height:100vh !important;
        .title-block{
          visibility:visible;
          background-color:$gray;
        }
      }
      .pin-wrappers{
        height:100%;
        width:100%;
        pointer-events: none;

        .title-block {
          height:100%;
          display:flex;
          align-items:center;
          justify-content: center;
        }
        #work01-header, #work02-header, #work03-header{
          height:100vh;
          visibility: visible;
          padding:0;
          background-color:white !important;
          @include nav-footer;
          .nav-footer{
            visibility: visible;
            display:flex;
            justify-content:center;
            bottom:10%;
          }
        }

        #work01-content, #work02-content, #work03-content {
          margin-top:0 !important;
          height:100vh;
          background-color:$gray;

          .img {
            position:absolute;
            z-index:1;
            background-image: url(../../img/macbook-comp.png);
            background-repeat:no-repeat;
            background-size:contain;
            height:40%;
            // width:calc(80%);
            width:95%;
            margin:0 auto;
            top:10%;
          }

          .work-text{
            position:absolute !important;
            top:45%;
            margin-left:5%;
            width:80%;
          }

          .work-nav {
            pointer-events: all;
            position:absolute;
            bottom:11%;
            // margin-left:6%;
            z-index:999;
            left:35%;
            a{
              font-family: 'Roboto', sans-serif !important;
              text-transform:uppercase;
              letter-spacing:2px;
              font-size:12px;
              border: thin solid #E2D6DB;
              padding:8px;
              background-color:#E2D6DB;
              border-radius:4px;
              color:black;
              margin-right:5px;
              &:hover{
                text-decoration: none;
              }
            }
          }
        }
      }
    }

  #slides02 #work02-content .img {
    background-image: url(../../img/riddikulus-comp.png) !important;
  }

  #slides03 #work03-content .img {
    background-image: url(../../img/snakes-comp.png);
  }

  #slides02 .pin-wrappers{
    transform: translateY(-100%);
  }

  #slides03 .pin-wrappers{
    transform: translateY(-100%);
  }

  .scrollmagic-pin-spacer {
      position: absolute !important;
      clip: rect(auto, auto, auto, auto);
  }

  #contactSlide{
    .nav-footer{
      visibility: visible !important;
    }
  }

  #contactSlide{
    #contact-text{
      margin-top: 0%;
      padding:10%;
    }
  }
}
