/* color variables */
$red: #f7484e;
$purple: #E2D6DB;
$gray: #EDEDED;

/* font variables */
.title-font{
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 8px;
  font-size:45px;
  text-align:center;
}

.subtitle-font{
  font-family: 'Roboto', sans-serif !important;
  text-transform:uppercase;
  letter-spacing:2px;
}

.nav-footer{
  ul{
    width:100%;
    position:absolute;
    bottom:20%;
    padding-left:0 !important;
    a{
      &:hover{
        text-decoration: none;
      }
      &:nth-child(1n+2){
        &::before{
          content:'/';
          padding:0 10px;
          color:black;
        }
      }
      li{
        @extend .subtitle-font;
        display:inline-flex;
        font-size:12px;
        color:black;
      }
    }
  }
}


//*** IPHONE 5 OR SMALLER

*{
  box-sizing: border-box;
}

html,body{
  height:100%;
  margin:0;
}

.float-right{
  float:right !important;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

#landingSlide{
  height:100vh;
  display:flex;
  align-items:center;
  .nav-footer{
    visibility:hidden;
  }
  #landing-svg{
    width:100%;
  }
}

#aboutSlide{
  .title-block{
    height:50vh;
    display:flex;
    align-items:center;
  }
  #about-header{
    background-color:$red;
    .nav-footer{
      visibility:hidden;
    }
    .title-font{
      color:white;
      margin-left:5%;
    }
    .about-img {
      background-image:url(/img/coffee.jpg);
      background-repeat:no-repeat;
      background-size:cover;
      height: 125px;
      width: 125px;
      border-radius: 50%;
      position: absolute;
      left: 33%;
      top: 80%;
    }
  }
  #about-content{
    margin-top: 10%;
    padding: 10% 15%;
  }
}

#slides01 {
  .title-block{
    height:50vh;
    display:flex;
    align-items:center;
  }
  #work01-header{
    background-color:$gray;
    .nav-footer{
      visibility: hidden;
    }
    .title-font{
      margin-left:5%;
    }
  }
  #work01-content{
    margin-top:50px;
    .img{
      background-image: url(../../img/macbook-comp.png);
      background-repeat:no-repeat;
      background-size:contain;
      width: calc(90%);
      height: 250px;
      margin:0 auto;
    }
    .work-text{
      @extend .wrapper;
    }
    .work-nav{
      margin-left:5%;
      margin-top:15%;
      a{
        font-family: 'Roboto', sans-serif !important;
        text-transform:uppercase;
        letter-spacing:2px;
        font-size:12px;
        border: thin solid #E2D6DB;
        padding:8px;
        background-color:#E2D6DB;
        border-radius:4px;
        color:black;
        margin-right:5px;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

#slides02 {
  .title-block{
    visibility:hidden;
  }

  #work02-content{
    .img{
      background-image: url(../../img/riddikulus-comp.png);
      background-repeat:no-repeat;
      background-size:contain;
      width: calc(90%);
      height: 250px;
      margin:0 auto;
    }
    .work-text{
      @extend .wrapper;
    }
    .work-nav{
      margin-left:5%;
      margin-top:15%;
      a{
        font-family: 'Roboto', sans-serif !important;
        text-transform:uppercase;
        letter-spacing:2px;
        font-size:12px;
        border: thin solid #E2D6DB;
        padding:8px;
        background-color:#E2D6DB;
        border-radius:4px;
        color:black;
        margin-right:5px;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

#slides03 {
  margin-bottom:40%;
  .title-block{
    visibility:hidden;
  }

  #work03-content{
    .img{
      background-image: url(../../img/snakes-comp.png);
      background-repeat:no-repeat;
      background-size:contain;
      width: calc(90%);
      height: 250px;
      margin:0 auto;
    }
    .work-text{
      @extend .wrapper;
    }
    .work-nav{
      margin-left:5%;
      margin-top:15%;
      a{
        font-family: 'Roboto', sans-serif !important;
        text-transform:uppercase;
        letter-spacing:2px;
        font-size:12px;
        border: thin solid #E2D6DB;
        padding:8px;
        background-color:#E2D6DB;
        border-radius:4px;
        color:black;
        margin-right:5px;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

#contactSlide{
  .title-block{
    height:50vh;
    display:flex;
    align-items:center;
  }
  #contact-header{
    background-color:$red;
    .nav-footer{
      visibility:hidden;
    }
    .title-font{
      color:white;
      margin-left:5%;
    }
  }
  #contact-text{
    margin-top: 10%;
    padding: 10% 15%;
    .social-buttons{
      display:flex;
      padding-left: 0 !important;
      margin-top: 5%;
      a {
        &:hover{
          text-decoration: none;
        }
        li {
        list-style-type: none;
        display:inline-flex;
        padding-right:15px;
        color:black;
          i {
            font-size:20px;
          }
        }
      }
    }
    #post1{
      height: 150px;
      width:150px;
      border-radius:5px;
      display:inline-flex;
      float:left;
      margin-right:15px;
      background-size:cover;
      background-repeat:no-repeat;
      #blog-title{
        position:absolute;
        top:0;
      }
    }
    #blog-title{
      font-style: italic;
    }
    #blog-content{
      width:42%;
    }
    #read-more{
      position:absolute;
      bottom:0;
      border: thin solid #E2D6DB;
      padding:8px;
      background-color:#E2D6DB;
      border-radius:4px;
      color:black;
      margin-right:10px;
      font-family: 'Roboto', sans-serif !important;
      text-transform:uppercase;
      letter-spacing:2px;
      font-size:12px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
