*{
  box-sizing: border-box;
}
#title-font{
  font-family: 'Playfair Display', sans-serif;
}
#sans{
  font-family: 'Oswald', sans-serif;
}

#landing{
  height:100vh;
  border:2px solid red;
  display:flex;
  // flex-direction:column;
  // flex-wrap:wrap;
  align-items:center;
  justify-content: center;

  #name{
    font-family: 'Playfair Display', sans-serif;
    font-size:4em;
    padding-left:20px;
  }
  #byline{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:16px;
    padding-left:200px;
  }

  #nav-footer{
    position:absolute;
    bottom:25px;
    justify-content:center;
    text-align: center;
    ul{
      a{
        &:nth-child(1n+2){
          &::before{
            content:'/'
          }
        }
      }
      li{
        display:inline-flex;
        padding: 0 10px;
      }
    }
  }
}

#about{
  @extend #title-font, #sans;
  height:100vh;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  .chapter-title{
    background-color: #ccc;
  }
  .fullpage-section{
    height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  #me{
    position: relative;
    img{
      width:150px;
      height:150px;
      z-index:10;
      position: absolute;
      top: 50px;
      left: 45%;
      border-radius:75px;
    }
  }
}
