*{
  box-sizing: border-box;
}

#title-font{
  font-family: 'Playfair Display', sans-serif;
}

#landing{
  height:100vh;
  // border:2px solid red;
  display:flex;
  // flex-direction:column;
  // flex-wrap:wrap;
  align-items:center;
  justify-content: center;

  #name{
    font-family: 'Playfair Display', sans-serif;
    font-size:4em;
    padding-left:20px;
  }
  #byline{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:16px;
    padding-left:200px;
  }

  #nav-footer{
    position:absolute;
    bottom:25px;
    justify-content:center;
    text-align: center;
    ul{
      a{
        &:nth-child(1n+2){
          &::before{
            content:'/'
          }
        }
      }
      li{
        display:inline-flex;
        padding: 0 10px;
      }
    }
  }
}

#about{
    background-color:#ccc;
    display:flex;
    align-items:center;
  .chapter-content{
      background-color:white;
      float:right;
      .text{
        padding:100px;
      }
  }
  .chapter-title{
    // height:100%;
    display:flex;
    align-items:center;
    h1.title-font{
      // height:100%;
      justify-content: center;
      width:100%;
      position:absolute;
      align-self: center;
      // padding-top:100%; // makes the links in landingPage for some reason..
      text-align:center;
      font-family: 'Playfair Display', sans-serif;
    }
      // img{
      //   width:150px;
      //   height:150px;
      //   z-index:100000;
      //   position: absolute;
      //   top: 50px;
      //   left: 90%;
      //   border-radius:75px;
      // }
  }
}

.scrollmagic-pin-spacer{
  display:inline-block !important;
  float:left !important;
  // padding-top:0 !important;
}

#work{
  @extend #title-font;
    width:100% !important;
    background-color:white;
    display:flex;
    align-items:center;
  .container-fluid{
    width:100%;
  }
  .chapter-content{
      background-color:white;
      float:right;
      z-index:10;
      padding:0 !important;
  }
  .chapter-title{
    justify-content: center;
  }

  #kne{
    height:100vh;
    width:100%;
    padding:0;
    background-color:red;
  }
    #riddikulus{
      height:100vh;
      width:100%;
      background-color:blue;
  }
    #snakes{
      height:100vh;
      width:100%;
      background-color:black;
  }
}

// #work{
//   @extend #title-font;
//   width:100%;
//   background-color:white;
//   display:flex;
//   align-items:center;
//   .chapter-content{
//       background-color:white;
//       float:right;
//       z-index:10;
//   }
//   .chapter-title{
//     display:flex;
//     align-items:center;
//     justify-content: center;
//   }
// }




#contact{
  @extend #title-font;
  height:100vh;
  width:100%;
  display:flex;
  align-items:center;
  .chapter-content{
    float:right;
    z-index:10;
    background-color:white;
    align-items:center;
  }
  .chapter-title{
    height:100vh;
    background-color:#ccc;
    display:flex;
    align-items:center;
    justify-content:center
  }
  .scrollmagic-pin-spacer{
    display:inline-block !important;
    float:left !important;
    padding-top:0 !important;
  }
}
