*{
  box-sizing: border-box;
}

#landing{
  height:100vh;
  border:2px solid red;
  display:flex;
  // flex-direction:column;
  // flex-wrap:wrap;
  align-items:center;
  justify-content: center;

  #name{
    font-family: 'Playfair Display', sans-serif;
    font-size:4em;
  }
  #byline{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:16px;
  }

  #nav-footer{
    position:absolute;
    bottom:25px;
    justify-content:center;
    text-align: center;
    ul{
      a{
        &:nth-child(1n+2){
          &::before{
            content:'/'
          }
        }
      }
      li{
        display:inline-flex;
        padding: 0 10px;
      }
    }
  }
}
