// title-font
@font-face {
  font-family: 'Stylistic Alt';
  src: url('/fonts/StylisticAlt.eot');
  src: url('/fonts/StylisticAlt.eot?#iefix') format('embedded-opentype'),
    url('/fonts/StylisticAlt.woff') format('woff'),
    url('/fonts/StylisticAlt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
}

html,body{
  height:100%;
  margin:0;
}


.stylistic-font{
  font-family: 'Stylistic Alt', sans-serif !important;
  font-size:75px;
}

.fixed-header{
  position: fixed !important;
  padding:0 !important;
  width: 50%;
}

.content-padding{
  padding: 100px;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

#title-font{
  font-family: 'Playfair Display', sans-serif;
}


#landingSlide{
  height:100vh;
  display:flex;
  align-items:center;
  margin-left:50px;
}

#aboutSlide{
  z-index:20;
  margin:0 !important;
  .title-block{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .title-text{
      @extend .stylistic-font;
      color: white;
      margin: 0;
    }
  }
  #about-header{
    padding:0;
    background-color: #f7484e;
  }
  #about-content{
    height: auto;
  }
}


// scrollMagic
.wrapper {
  max-width: 350px;
  margin: 0 10%; }

#slide01, #slide02, #slide03  {
  background-color: white;
}

.slide {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
    .slide .pin-wrapper {
        width: 100%;
        height: 100%;
    }

    .slide .pin-wrapper .chapter-content{
      width: 50%;
      background-color: #EDEDED;
      height: 100%;
      float:right;
    }

    .slide .wrapper {
        position: absolute;
        top: 45%;
        left: 10%;
    }
    .slide .img {
        position: absolute;
        top: 10%;
        left: 50%;
        width: 600px;
        height: 418px;
        background: url('/img/kne.png') no-repeat top left;
        background-size:cover;
        transform: translate(-80%, -40%);
        transform: translate(10%, 0%)
    }

.scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto, auto, auto, auto);
}

#slide02 .img {
  background-image: url('/img/riddikulus.png');}

#slide03 .img {
  background-image: url('/img/snakes.png');}


#slide02 .pin-wrapper,
#slide03 .pin-wrapper{
    transform: translateY(-100%);
}

.imgText{
  position: absolute;
  top: 70%;
  left: 50%;
  width: 700px;
  height: 100%;
  padding: 0 100px;
  text-align: center;
}




@media screen and (min-width: 992px) {
  #about-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    padding:0;
  }
  #about-content{
    position:relative;
    z-index: 100;
    left:50%;
  }
}
