*{
  box-sizing: border-box;
}

#title-font{
  font-family: 'Playfair Display', sans-serif;
}

#landing{
  height:100vh;
  // border:2px solid red;
  display:flex;
  // flex-direction:column;
  // flex-wrap:wrap;
  align-items:center;
  justify-content: center;

  #name{
    font-family: 'Playfair Display', sans-serif;
    font-size:4em;
    padding-left:20px;
  }
  #byline{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:16px;
    padding-left:200px;
  }

  #nav-footer{
    position:absolute;
    bottom:25px;
    justify-content:center;
    text-align: center;
    ul{
      a{
        &:nth-child(1n+2){
          &::before{
            content:'/'
          }
        }
      }
      li{
        display:inline-flex;
        padding: 0 10px;
      }
    }
  }
}

#about{
    background-color:#ccc;
    display:flex;
    align-items:center;
  .chapter-content{
      background-color:white;
      float:right;
      .text{
        padding:100px;
      }
  }
  .chapter-title{
    // height:100%;
    display:flex;
    align-items:center;
    h1.title-font{
      height:100%;
      width:100%;
      position:absolute;
      // padding-top:100%; // makes the links in landingPage for some reason..
      text-align:center;
      font-family: 'Playfair Display', sans-serif;
    }
      img{
        width:150px;
        height:150px;
        z-index:100000;
        position: absolute;
        top: 50px;
        left: 90%;
        border-radius:75px;
      }
  }
}

.scrollmagic-pin-spacer{
  display:inline-block !important;
  float:left !important;
}

#work{
    background-color:white;
    display:flex;
    align-items:center;
  .chapter-content{
      background-color:white;
      float:right;
      z-index:10;
      text{
        padding:100px;
      }
  }
  .chapter-title{
    display:flex;
    align-items:center;
    .title-font{
      height:100%;
      width:100%;
      position:absolute;
      text-align:center;
      font-family: 'Playfair Display', sans-serif;
    }
      img{
        width:150px;
        height:150px;
        z-index:10;
        position: absolute;
        top: 50px;
        left: 90%;
        border-radius:75px;
      }
  }
}
