@import 'variables';
@import 'scrollmagic';
@import 'fonts';

*{
  box-sizing: border-box;
}

html,body{
  height:100%;
  margin:0;
}

body{
  margin:0;
  overflow-x:hidden;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

.fixed-header{
  position: fixed !important;
  padding:0 !important;
  width: 50%;
}

.float-right{
  float:right !important;
}

#landingSlide{
  @extend .nav-footer;
  .nav-footer{
    display:flex;
    justify-content: center;
    bottom:10%;
  }
  height:100vh;
  display:flex;
  align-items:center;
  margin-left:50px;
  #wrapper{
    text-align:center;
    #name{
      @extend .title-font;
      font-size:55px;
    }
    #byline{
      @extend .subtitle-font;
      font-weight: 400;
      text-transform:uppercase;
      letter-spacing:4px;
    }
  }
}

#aboutSlide{
  z-index:20;
  margin:0 !important;
  .title-block{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .title-text{
      @extend .title-font;
      color: white;
      margin: 0;
    }
  }
  #about-header{
    padding:0;
    background-color: $red;
    .about-img {
      background-image:url(/img/coffee.jpg);
      background-repeat:no-repeat;
      background-size:cover;
      height:125px;
      width:125px;
      border-radius:50%;
      position:absolute;
      top:10%;
      left:90%;
    }
    @extend .nav-footer;
    .nav-footer{
      display:flex;
      justify-content:center;
      bottom:10%;
    }
  }
  #about-content{
    height:auto;
    .content-padding{
      padding: 100px;
    }
  }
}


#contactSlide{
  position:relative;

  #contact-header{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:$red;
    .title-text{
      @extend .title-font;
      color:white;
    }
    @extend .nav-footer;
    .nav-footer{
      display:flex;
      justify-content: center;
      bottom:10%;
    }
  }
  #contact-text{
    height:100vh;
    padding:100px;
    position:relative;
    padding-top:10%;
    #contact-text{
      text-align:left;
      ul{
        padding-left:0 !important;
      }
    }
    .social-buttons{
      display:flex;
      padding-left: 0 !important;
      margin-top: 5%;
      a {
        &:hover{
          text-decoration: none;
        }
        li {
        list-style-type: none;
        display:inline-flex;
        padding-right:15px;
        color:black;
          i {
            font-size:20px;
          }
        }
      }
    }
    #post1{
      height: 150px;
      width:150px;
      border-radius:5px;
      display:inline-flex;
      float:left;
      margin-right:15px;
      background-size:cover;
      background-repeat:no-repeat;
      #blog-title{
        position:absolute;
        top:0;
      }
    }
    #blog-title{
      font-style: italic;
    }
    #blog-content{
      width:42%;
    }
    #read-more{
      position:absolute;
      bottom:0;
      border: thin solid #E2D6DB;
      padding:8px;
      background-color:#E2D6DB;
      border-radius:4px;
      color:black;
      margin-right:10px;
      font-family: 'Roboto', sans-serif !important;
      text-transform:uppercase;
      letter-spacing:2px;
      font-size:12px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #about-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    padding:0;
  }
  #about-content{
    position:relative;
    z-index: 100;
    left:50%;
  }
}
