@import 'fonts';
@import 'variables';


.chapter-content{
  background-color: #EDEDED;
}

.chapter-title{
  background-color:white;
}

.scrollmagic-pin-spacer {
  pointer-events: none;
}


.nav-footer{
  ul{
    width:100%;
    position:absolute;
    bottom:20%;
    padding-left:0 !important;
    a{
      &:hover{
        text-decoration: none;
      }
      &:nth-child(1n+2){
        &::before{
          content:'/';
          padding:0 10px;
          color:black;
        }
      }
      li{
        display:inline-flex;
        font-size:12px;
        color:black;
      }
    }
  }
}


.row.slides { pointer-events: none; }

  .slides {
    position:relative;
    overflow:hidden;
    height:100vh;
    .pin-wrappers{
      height:100%;
      width:100%;
      pointer-events: none;

      .title-block {
        height:100%;
        display:flex;
        align-items:center;
        justify-content: center;
      }
      #work01-header, #work02-header, #work03-header{
        padding:0;
        background-color:white;
        @extend .nav-footer;
        .nav-footer{
          display:flex;
          justify-content:center;
          bottom:10%;
        }
      }
      #work01-content, #work02-content, #work03-content {
        height:100%;
        .img {
          position:absolute;
          z-index:1;
          background-image: url(../../img/macbook-comp.png);
          background-repeat:no-repeat;
          background-size:contain;
          height:368px;
          width:650px;
          top:10%;
        }
        .work-nav {
          pointer-events: all;
          position:absolute;
          top:75%;
          margin-left:6%;
          z-index:999;
        }
      }
    }
  }
// }

#slides02 #work02-content .img {
  background-image: url(../../img/riddikulus-comp.png) !important;
}

#slides03 #work03-content .img {
  background-image: url(../../img/snakes-comp.png);
}

#slides02 .pin-wrappers{
  transform: translateY(-100%);
}

#slides03 .pin-wrappers{
  transform: translateY(-100%);
}

.scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto, auto, auto, auto);
}
