$red: #f7484e;
$purple: #E2D6DB;
$break-small:768px;
$break-large:769px;

@mixin nav-footer {
  ul{
      width:100%;
      position:absolute;
      bottom:20%;
      padding-left:0 !important;
      a{
        &:hover{
          text-decoration: none;
        }
        &:nth-child(1n+2){
          &::before{
            content:'/';
            padding:0 10px;
            color:black;
          }
        }
        li{
          @extend .subtitle-font;
          display:inline-flex;
          font-size:12px;
          color:black;
        }
      }
    }
}

%nav-footer{
  @include nav-footer
}

.nav-footer{
  @extend %nav-footer;
}

